[submodule "temp/punit-you-have-to-print-these-ones-in-sequence-wise"]
	path = temp/punit-you-have-to-print-these-ones-in-sequence-wise
	url = https://github.com/beastinvains/c-programs-for-BCA-Btech-students.git
